<div class="main_wrap">
   <!-- Center Column -->
   <div class="full-wrap">
      <h2>Concurrent Users Details
      </h2>
      <table id="table_log" class="table01" style="font-size:20px;">
         <tbody>
            <tr>
               <th class="align-L"><span> Total Users</span><span style="color:red" id="usrCount"> - 13</span></th>
            </tr>
         </tbody>
      </table>
      <table id="table_log" class="table01" style="font-size:20px;">
         <tbody>
            <tr>
               <th class="align-L"><span>Yesterday's Created Users</span><span style="color:red" id="YusrCount"> - 0</span></th>
            </tr>
         </tbody>
      </table>
      <br>
      <table id="table_s tableboreder" role="grid" aria-describedby="DataTables_Table_0_info" class="table01">
         <tbody>
            <tr>
               <th class="align-L">Name</th>
               <th class="align-L">SubAdmin</th>
               <th class="align-L" id="totCount">Count - 0</th>
            </tr>
         </tbody>
         <tbody id="content">
            <tr>
               <td class="align-L">wonderbets.in</td>
               <td class="align-L">satest(satest), test123(abcd), test111(Test), abcd123(Test), satest1(satest), casio1(Nitin), anthony66(Shakti), bhabanisankar(Bhabani Sankar), abhi(Abhishek), janki(anjdh), subadmin26(subadmin), user1(pavan), superab(Test)</td>
               <td class="align-L websiteCounts" id="domainwonderbetsin">0</td>
            </tr>
            <tr></tr>
            <tr>
               <td class="align-L"> dmd d</td>
               <td class="align-L">-</td>
               <td class="align-L websiteCounts" id="domain dmd dundefined">0</td>
            </tr>
            <tr></tr> 
         </tbody>
      </table>
   </div>
</div>