<div class="main_wrap" style="height: calc(100% - 105px)">
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2 style="margin:0 5px">Surveillance Settings</h2>
      </div>
      <ul id="statusBtn" class="status_but" style="width:auto">
         <li>
            <a id="suspendBtn" class="but_suspend alivematchbet" routerLink="/AliveMatchbets" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend abetlockuser" routerLink="/AbetLockUsers" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend abetcount" routerLink="/AbetCount" data-status="suspend"></a>
         </li>
         <!-- <li>
            <a id="suspendBtn" class="but_suspend playerbalance" routerLink="/AUserSplitBalance" data-status="suspend"></a>
            </li> -->
         <li>
            <a id="suspendBtn" class="but_suspend userpl" routerLink="/monitorUserPnL" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend prematchpl" routerLink="/prematchpl" data-status="suspend"></a>
         </li>
         <!-- <li>
            <a id="suspendBtn" class="but_suspend searchmatch1" routerLink="/ASearchMatch" data-status="suspend"></a> 
            </li> -->
         <li style="margin-top:5px;">
            <a id="dupipbtn" class="but_suspend duplicateip" routerLink="/AsameIpUsers" data-status="suspend"></a> 
         </li>
      </ul>
   </div>
</div>