<div class="main_wrap">
   <div class="agent_path">
      <ul id="agentPath" class="agent_path-L" style="display: block;">
         <li id="patha" class="" style="display:none">
            <a id="adminLink">
            <span class="lv_0">
            A
            </span>
            <strong id="adminUser"></strong>
            </a>
         </li>
         <li id="pathsua" class="currency_tag" style="display:none">
            <a id="suaLink">
            <span class="lv_1">SUA</span>
            <strong id="suaUser"> </strong>
            </a>
         </li>
         <li id="pathsab" class="" style="display:none">
            <a id="sabLink">
            <span class="lv_3">
            SAB
            </span>
            <strong id="sabUser"></strong>
            </a>
         </li>
         <li id="pathsup" class="" style="display:none">
            <a id="supLink">
            <span class="lv_4">
            SUP
            </span>
            <strong id="supUser"></strong>
            </a>
         </li>
         <li id="pathsa" class="" style="display:none">
            <a id="saLink">
            <span class="lv_2">
            SA
            </span>
            <strong id="saUser"> </strong>
            </a>
         </li>
         <li id="pathc" class="last_li" style="display:none">
            <a id="userLink">
            <span class="lv_3">
            A
            </span>
            <strong id="cUser"> </strong>
            </a>
         </li>
      </ul>
   </div>
   <app-account-sidebar2></app-account-sidebar2>
   <!--Agent Left Column end-->
   <!-- Center Column -->
   <div class="col-center report">
      <!-- Loading Wrap -->
      <div id="loading" class="loading-wrap" style="display:none">
         <ul class="loading">
            <li><img src="/adminfiles/img/loading40.gif"></li>
            <li>Loading...</li>
         </ul>
      </div>
      <!-- Message -->
      <div id="message" class="message-wrap success">
         <a class="btn-close">Close</a>
         <p></p>
      </div>
      <h2>Betting Profit &amp; Loss : Main wallet</h2>
      <ul class="acc-info">
         <li class="user">admin
         </li>
      </ul>
      <ul class="report-tab-wrap" style="display:block">
         <li class="report-tab select" onclick="setNewBets('Odds')" id="reportType_Odds" data-reporttabtype="0">
            Exchange
         </li>
         <li class="report-tab" onclick="setNewBets('Fancy')" id="reportType_Fancy" data-reporttabtype="7">
            FancyBet
         </li>
         <li class="report-tab" onclick="setNewBets('Fancy1')" id="reportType_Fancy1" data-reporttabtype="7">
            FancyBet1
         </li>
         <li class="report-tab" onclick="setNewBets('Toss')" id="reportType_Toss" data-reporttabtype="7">
            Toss
         </li>
         <li class="report-tab" onclick="setNewBets('Casino')" id="reportType_Casino" data-reporttabtype="1">
            Casino
         </li>
         <li class="report-tab" id="reportType_sportsBook" onclick="setNewBets('sportsBook')" data-reporttabtype="2">
            Sportsbook
         </li>
         <li class="report-tab" onclick="setNewBets('BooKMaker')" id="reportType_BooKMaker" data-reporttabtype="3">
            BookMaker
         </li>
         <li class="report-tab" id="reportType_bPoker" onclick="setNewBets('bPoker')" data-reporttabtype="4">
            BPoker
         </li>
         <li class="report-tab" id="reportType_Premium" onclick="setNewBets('Premium')" data-reporttabtype="5">
            Premium
         </li>
         <li class="report-tab" id="reportType_Other" onclick="setNewBets('Other')" data-reporttabtype="5">
            Other
         </li>
         <li class="report-tab" id="reportType_SABA" onclick="setNewBets('SABA')" data-reporttabtype="5">
            SABA SPORTS
         </li>
         <!-- <li class="report-tab " id="reportType_sabaSportsBook" onclick="setNewBets('sabaSportsBook')" data-reporttabtype="6">
            SABA
            </li> -->
         <!--  <li class="report-tab " id="reportType_mt5" onclick="setNewBets('mt5')" data-reporttabtype="8">
            MT5
            </li> -->
      </ul>
      <div class="function-wrap">
         <ul class="input-list">
            <div id="statusCondition" style="display: none">
               <li><label>Bet Status:</label></li>
               <li>
                  <select name="betStatus" id="betStatus">
                  </select>
               </li>
            </div>
            <li><label>Period</label></li>
            <li>
               <input id="startDate" class="cal-input" type="date" placeholder="YYYY-MM-DD">
               <input id="startTime" class="time-input" type="text" placeholder="09:00" maxlength="5" readonly="readonly">
               to
               <input id="endDate" class="cal-input" type="date" placeholder="YYYY-MM-DD">
               <input id="endTime" class="time-input" type="text" placeholder="08:59" maxlength="5" readonly="readonly">
            </li>
            <li style="display: none;">(TimeZone:IST)</li>
         </ul>
         <ul class="input-list">
            <li><a id="today" onclick="changeDate('today')" class="btn">Just For Today</a></li>
            <li><a id="yesterday" onclick="changeDate('yesterday')" class="btn">From Yesterday</a></li>
            <li style="display: none;"><a id="last7days" href="#" class="btn">Last 7 days</a></li>
            <li style="display: none;"><a id="last30days" href="#" class="btn">Last 30 days</a></li>
            <li style="display: none;"><a id="last2months" href="#" class="btn">Last 2 Months</a></li>
            <li style="display: none;"><a id="last3months" href="#" class="btn">Last 3 Months</a></li>
            <li><a id="getPL" onclick="getBetHistory('all',1)" class="btn-send">Get P &amp; L</a></li>
         </ul>
      </div>
      <!-- No Report Message -->
      <div id="noReportMessage">
         <p>Betting Profit &amp; Loss enables you to review the bets you have placed. <br>Specify the time period during which your bets were placed, the type of markets on which the bets were placed, and the sport.</p>
         <p>Betting Profit &amp; Loss is available online for the past 30 days.</p>
      </div>
      <div id="report" data-report="profitAndLossReport" style="">
         <ul id="spotsUl" class="total-show">
            <li id="totalPL">Total P/L: PBU <span class="plTotal red">(-0.26)</span></li>
            <li id="sumOfQuery" class="sports-switch">PBU <span class="plTotal red">(-0.26)</span></li>
            <li class="sports-switch">
               <select name="sports" id="sports" onchange="changeSport()">
                  <option selected="selected" value="1,2,4">ALL</option>
                  <option value="1">SOCCER</option>
                  <option value="2">TENNIS</option>
                  <option value="4">CRICKET</option>
               </select>
            </li>
         </ul>
         <ul id="binaryPL" class="total-show" style="display: none">
            <li id="binaryTotalPL"></li>
         </ul>
         <table id="reportTable" class="table01 table-pnl" style="display: table;">
            <thead>
               <tr>
                  <th width="" class="align-L">Market
                  </th>
                  <th width="15%">Settled date
                  </th>
                  <th width="18%">Profit/Loss
                  </th>
               </tr>
            </thead>
            <tbody id="matchedBetsList">
               <tr id="summary0" style="display: table-row;">
                  <td id="title" class="align-L">Cricket<img class="fromto" src="/images/transparent.gif"><strong>Sri Lanka v Bangladesh</strong><img class="fromto" src="/images/transparent.gif">Sri Lanka v Bangladesh</td>
                  <td id="settledDate">2025-06-25 10:00:00</td>
                  <td><a id="pl0" class="expand-close" onclick="getBets('685d3ceccb4f0130673ce089','34440606','0')"><span class="red">(-0.26)</span></a></td>
               </tr>
               <tr id="expandMatched685d3ceccb4f0130673ce089" style="" class="expand">
                  <td colspan="4">
                     <img class="expand-arrow-R" src="/images/transparent.gif">
                     <table class="table-commission">
                        <tbody id="betsList685d3ceccb4f0130673ce089">
                           <tr>
                              <th width="">Userid</th>
                              <th width="9%">Bet ID</th>
                              <th width="">Selection</th>
                              <th width="9%">Odds</th>
                              <th width="13%">Stake</th>
                              <th width="8%">Type</th>
                              <th width="16%">Placed</th>
                              <th width="23%">Profit/Loss</th>
                           </tr>
                           <tr class="sum-pl">
                              <td colspan="7">
                                 <dl>
                                    <dt>Total Stakes</dt>
                                    <dd id="totalStakes">0.00</dd>
                                    <dt id="backSubTotalTitle">Back subtotal</dt>
                                    <dd id="backSubTotal"><span class="green">(0.00)</span></dd>
                                    <dt id="laySubTotalTitle">Lay subtotal</dt>
                                    <dd id="laySubTotal" class="green">(0.00)</dd>
                                    <dt>Market subtotal</dt>
                                    <dd id="marketTotal"><span class="green">(0.00)</span></dd>
                                    <dt id="commissionTitle">Commission</dt>
                                    <dd id="commission" class="red">(0.00)</dd>
                                    <dt class="net_total">Net Market Total</dt>
                                    <dd id="netTotal" class="net_total"><span class="green">(0.00)</span></dd>
                                 </dl>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody>
         </table>
         <p class="table-other">Profit and Loss is shown net of commission.
         </p>
      </div>
      <div>
         <ul id="pageNumberContent" class="pages">
            <li id="prev"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Prev</a></li>
            <li id="pageNumber"><a href="javascript:void(0);" class="select" style="pointer-events: none;">1</a></li>
            <li id="next"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Next</a></li>
            <input type="text" id="goToPageNumber_1" maxlength="6" size="4"><a id="goPageBtn_1">GO</a>
         </ul>
      </div>
   </div>
</div>