<div class="main_wrap" style="height: calc(100% - 105px)">
   <div class="function-wrap col-lg-12" style="background:lightblue;padding:0 !important;">
      <div class="col-lg-12" style="margin-bottom:5px;background:#000;color:#fff;padding:3px;">
         <h2 style="font-size:17px;">Set P2P Settings</h2>
      </div>
   </div>
   <!-- function -->
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2>Set P2P Settings</h2>
      </div>
      <div class="row" style="margin:0">
         <div class="col-lg-2 col-xs-6" style="margin-bottom:5px;">
            <label style="width:100%">	 Daily Limit <input type="number" class="form-control" min="0" id="p2pdl" placeholder="Daily Limit"></label>
         </div>
         <div class="col-lg-2 col-xs-6" style="margin-bottom:5px;">
            <label style="width:100%">	 Delay <input type="number" class="form-control" min="0" id="p2pdelay" placeholder="Enter Delay"></label>
         </div>
         <div class="col-lg-2 col-xs-6" style="margin-bottom:5px;">
            <div class="user-lock-search" style="position: relative;">
               <div class="confirm-bets" style="padding:7px;">
                  <div class="custom-control custom-switch">
                     <input id="p2pRadio" type="checkbox" name="autocon-1" data-toggle="toggle" class="custom-control-input" value="true">
                     <label for="p2pRadio" class="custom-control-label" id="p2pRadioVal">OFF</label><span> (P2P STATUS)</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin:0">
         <div class="col-lg-2 col-xs-4" style="margin-bottom:5px;">
            <button class="btn-send" style="width:80px" onclick="updateSettings()">Update</button>
         </div>
      </div>
   </div> 
</div>