<div class="main_wrap" style="height: calc(100% - 105px)" bis_skin_checked="1">
   <div class="function-wrap col-lg-12" bis_skin_checked="1">
      <div class="col-lg-12" style="margin-bottom:5px;" bis_skin_checked="1">
         <h2 style="margin:0 5px">Manage Website Settings</h2>
      </div>
      <ul id="statusBtn" class="status_but" style="width:auto">
         <!-- <li>
            <a id="suspendBtn" class="but_suspend addweb" routerLink="/AAddWebsiteSetting" data-status="suspend"></a>
            </li>  -->
         <li>
            <a id="suspendBtn" class="but_suspend managelinks" routerLink="/AManageLinks" data-status="suspend"> </a>
         </li>
      </ul>
   </div>
</div>