<div class="main_wrap" style="height: calc(100% - 105px)">
   <!-- function -->
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2>Set BookMaker Header</h2>
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>	 Header 	 
         <input type="text" class="form-control" id="bookMakerHeader" placeholder="Enter Header" readonly="readonly"></label>
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>	 Team1 <input type="text" class="form-control" id="bookMakerTeam1" placeholder="Enter Team 1" readonly="readonly"> </label> 
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>Team2 <input type="text" class="form-control" id="bookMakerTeam2" placeholder="Enter Team 2" readonly="readonly"></label>
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>Team3 <input type="text" class="form-control" id="bookMakerTeam3" placeholder="Enter Team 3" readonly="readonly"></label>
      </div>
      <div class="col-lg-2 " style="margin-bottom:5px;">
         <button style="width:80px" class="btn-send" onclick="setLimit()">Set Headers</button>
      </div>
   </div>
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2>Data BookMaker Header</h2>
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>	 Header 	 
         <input type="text" class="form-control" id="databookMakerHeader" placeholder="Enter Header" readonly="readonly"></label>
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>	 Team1 <input type="text" class="form-control" id="databookMakerTeam1" placeholder="Enter Team 1" readonly="readonly"> </label> 
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>Team2 <input type="text" class="form-control" id="databookMakerTeam2" placeholder="Enter Team 2" readonly="readonly"></label>
      </div>
      <div class="col-lg-2" style="margin-bottom:5px;">
         <label>Team3 <input type="text" class="form-control" id="databookMakerTeam3" placeholder="Enter Team 3" readonly="readonly"></label>
      </div>
      <div class="col-lg-2 " style="margin-bottom:5px;">
      </div>
   </div>
</div>