<div class="main_wrap">
      
    <app-account-sidebar2></app-account-sidebar2>
    <div class="col-center report" bis_skin_checked="1">
        <!-- Loading Wrap -->
        <div id="loading" class="loading-wrap" style="display: none;" bis_skin_checked="1">
            <ul class="loading">
                <li><img src="/adminfiles/img/loading40.gif"></li>
                <li>Loading...</li>
            </ul>
        </div>
        <!-- Message -->
        <div id="message" class="message-wrap success" bis_skin_checked="1">
            <a class="btn-close">Close</a>
            <p></p>
        </div>
        <h2>Balance Summary</h2>
        <div class="event-left" bis_skin_checked="1">
            <div class="profile-wrap" bis_skin_checked="1">
                <h3>About Balance</h3>
                <dl>
                    <dt style="font-weight:bold ">Total Deposit</dt>
                    <dd id="userDeposit" class="green" style="font-weight:bold ">2402323.00</dd>
                    <dt style="font-weight:bold ">Total Withdraw</dt>
                    <dd id="userWithdraw" class="red" style="font-weight:bold ">-2203561.00</dd>
                    <dt style="font-weight:bold ">Balance</dt>
                    <dd id="userTotal" style="font-weight:bold " class="green">198762</dd>
                    <dt style="font-weight:bold ">Final PL</dt>
                    <dd id="userpl" style="font-weight:bold " class="green">0.00</dd>
                </dl>
            </div>
        </div>
    </div>
</div>