 <div class="main_wrap">
   <!-- agent path -->
   <div class="agent_path">
      <ul id="agentPath" class="agent_path-L">
         <li id="path3" class="last_li" style="">
            <a href="javascript: void(0);">
            <span id="userLevel" class="lv_3">A</span>
            <strong id="userLevelId">admin</strong>
            </a>
         </li>
      </ul>
   </div>
  <app-account-sidebar></app-account-sidebar>
   <!-- Center Column -->
   <div class="col-center report">
      <h2>Account Summary</h2>
      <div class="white-wrap">
         <dl class="head-balance">
            <dt>Your Balances</dt>
            <dd><strong id="acBalance">198,762.00</strong> <span>PBU</span></dd>
         </dl>
      </div>
   </div>
</div>