<div class="full-wrap" style="height: calc(100% - 105px)">
   <h2>Search Users</h2>
   <div class="total_all banking-top">
      <div class="search-wrap" id="userSearchUl">
         <div>
            <input class="search-input" type="text" name="searchUserId" id="searchUserId" placeholder="Enter userId..." readonly="readonly">
         </div>
      </div>
      <ul class="input-list" id="companySearchUl">
         <li class="bank-li" style="display:flex;">
            <a class="btn-send banking-btn" onclick="getUserSearchDetails()" id="search">Search</a>
            <a class="btn-send banking-btn" onclick="openTransaction()" style="margin-left:1%">Statement</a>
            <a class="btn-send banking-btn userbutton" onclick="blockUserForCheat()" style="display:none;margin-left:1%">Block For Cheat</a>
            <a class="btn-send banking-btn userbutton" onclick="unblockUserForCheat()" style="display:none;margin-left:1%">UnBlock For Cheat</a>
            <a class="btn-send banking-btn masterbutton" onclick="masterBlock()" style="display:none;margin-left:1%">Master Block</a>
            <a class="btn-send banking-btn masterbutton" onclick="masterUnblock()" style="display:none;margin-left:1%">Master Unblock</a> 
            <a class="btn-send banking-btn userbutton" onclick="updateIsPlacing()" style="display:none;margin-left:1%">Is Placing UPDT</a>  
         </li>
      </ul>
   </div>
   <table id="table_log" class="table01" style="font-weight:bold">
      <tbody>
         <tr>
            <th width="15%" class="align-L">Admin</th>
            <th width="15%" class="align-L">Super Admin</th>
            <th width="18%" class="align-L">Sub Admin</th>
            <th width="18%" class="align-L">Senior Super</th>
            <th width="18%" class="align-L">Super Agent</th>
            <th width="16%" class="align-L">Agent</th>
            <th width="" class="align-L">User </th>
         </tr>
      </tbody>
      <tbody id="content">
         <tr>
            <td class="align-L" id="ad">--</td>
            <td class="align-L" id="sa">--</td>
            <td class="align-L" id="ma">--</td>
            <td class="align-L" id="sm">--</td>
            <td class="align-L" id="mm">--</td>
            <td class="align-L" id="agm">--</td>
            <td class="align-L" id="client">--</td>
         </tr>
      </tbody>
   </table>
</div>