<div class="main_wrap" bis_skin_checked="1">
   <app-account-sidebar></app-account-sidebar>
   <!-- Center Column -->
   <div class="col-center report" bis_skin_checked="1">
      <h2>Account Statement</h2>
      <table id="table_log" class="table01">
         <tbody>
            <tr>
               <th width="15%" class="align-L">Date/Time</th>
               <th width="18%" class="align-R">Deposit From Upline</th>
               <th width="18%" class="align-R">Deposit to Downline</th>
               <th width="18%" class="align-R">WihtDraw By Upline</th>
               <th width="18%" class="align-R">WithDraw From Downline</th>
               <th width="18%" class="align-R">Balance</th>
               <th width="16%" class="align-R">Remark</th>
               <th width="" class="align-R">From/To</th>
            </tr>
         </tbody>
         <tbody id="statements">
            <tr id="tempTr">
               <td class="align-L" id="loginDate">09/01/2024 19:54:04</td>
               <td class="green" id="loginMessage">100.00</td>
               <td class="green" id="loginMessage">-</td>
               <td id="ipAddress" class="sky-align red">-</td>
               <td id="ipAddress" class="sky-align red">-</td>
               <td id="isp" class="sky-align">198762.00</td>
               <td id="location" class="sky-align">Self Deposit</td>
               <td id="userAgentType" class="sky-align">admin -&gt; admin</td>
            </tr>
            <tr id="tempTr">
               <td class="align-L" id="loginDate">09/01/2024 19:53:48</td>
               <td class="green" id="loginMessage">1.00</td>
               <td class="green" id="loginMessage">-</td>
               <td id="ipAddress" class="sky-align red">-</td>
               <td id="ipAddress" class="sky-align red">-</td>
               <td id="isp" class="sky-align">198662.00</td>
               <td id="location" class="sky-align">Self Deposit</td>
               <td id="userAgentType" class="sky-align">admin -&gt; admin</td>
            </tr> 
         </tbody>
      </table>
      <div bis_skin_checked="1">
         <ul id="pageNumberContent" class="pages">
            <li id="prev"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Prev</a></li>
            <li id="pageNumber"><a href="javascript:void(0);" class="select" style="pointer-events: none;">1</a></li>
            <li id="next"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Next</a></li>
            <input type="text" id="goToPageNumber_1" maxlength="6" size="4"><a id="goPageBtn_1">GO</a>
         </ul>
      </div>
   </div>
</div>