<div class="main_wrap">
   <!-- agent path -->
    <app-account-sidebar></app-account-sidebar>
   <!-- Center Column -->
   <div class="col-center report">
      <h2>Profile</h2>
      <div class="d-flex profile-flex">
         <div class="event-left">
            <div class="profile-wrap">
               <h3>About You</h3>
               <dl>
                  <dt>First Name</dt>
                  <dd id="userFirstName">admin</dd>
               </dl>
               <dl>
                  <dt>Last Name</dt>
                  <dd id="userLastName">abc</dd>
               </dl>
               <dl>
                  <dt>Birthday</dt>
                  <dd>--</dd>
               </dl>
               <dl>
                  <dt>E-mail</dt>
                  <dd id="useremail">abcxyz.com</dd>
               </dl>
               <dl>
                  <dt>Password</dt>
                  <dd>
                     ********************************
                     <a href="#" class="favor-set openchangepwdmodal">
                        Edit
                        <!-- <i class="fas fa-pen"></i> -->
                     </a>
                  </dd>
               </dl>
               <dl>
                  <dt>Time Zone</dt>
                  <dd id="usertimeZone">IST</dd>
               </dl>
            </div>
         </div>
         <div class="event-right">
            <div class="profile-wrap">
               <h3>Contact Details</h3>
               <dl>
                  <dt>Primary number</dt>
                  <dd id="userMob">0987654321</dd>
               </dl>
            </div>
            <div class="profile-wrap" style="display: none;">
               <h3>PT</h3>
               <dl>
                  <dt>My PT Allowed</dt>
                  <dd>0%</dd>
               </dl>
               <dl>
                  <dt>My Fancy Bet PT</dt>
                  <dd>0%</dd>
               </dl>
               <dl>
                  <dt>Sportsbook PT</dt>
                  <dd>0%</dd>
               </dl>
               <dl>
                  <dt>Sportsbook Premium PT</dt>
                  <dd>0%</dd>
               </dl>
               <dl>
                  <dt>My Book Maker PT</dt>
                  <dd>0%</dd>
               </dl>
               <dl>
                  <dt>Casino PT Allowed</dt>
                  <dd>LIVE: 0%, RNG: 0%, SLOT: 0%, VIRTUAL: 0%</dd>
               </dl>
            </div>
         </div>
      </div>
   </div>
</div>