<!-- agent path -->
   <div class="agent_path" bis_skin_checked="1">
      <ul id="agentPath" class="agent_path-L">
         <li id="path3" class="last_li" style="">
            <a href="javascript: void(0);">
            <span id="userLevel" class="lv_3">A</span>
            <strong id="userLevelId">admin</strong>
            </a>
         </li>
      </ul>
   </div>
   <!-- Agent Left Column -->
   <div class="col-left" bis_skin_checked="1">
      <!-- Sub Menu and Path -->
      <div class="sub_path" bis_skin_checked="1">
         <!-- Sub Menu -->
         <ul class="menu-list">
            <li class="class">Position</li>
            <li class="li-hover" routerLinkActive="select" [routerLinkActiveOptions]="{ exact: true }"><a id="accountStatement" routerLink="/Aaccountstatement">Account Statement</a>
            </li>
            <li class="li-hover" routerLinkActive="select" [routerLinkActiveOptions]="{ exact: true }"><a id="accountSummary" routerLink="/Amyaccount" class="">Account Summary</a>
            </li>
            <li class="class">Account Details</li>
            <li class="li-hover" routerLinkActive="select" [routerLinkActiveOptions]="{ exact: true }"><a id="profile" routerLink="/Aprofile">Profile</a></li>
            <li class="li-hover" routerLinkActive="select" [routerLinkActiveOptions]="{ exact: true }"><a id="activityLog" routerLink="/Aactivitylog">Activity Log</a></li>
         </ul>
      </div>
   </div>