<div class="main_wrap" style="height: calc(100% - 105px)">
   <!-- function -->
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2 style="margin:0 5px">General Settings</h2>
      </div>
      <ul id="statusBtn" class="status_but" style="width:auto">
         <!--  <li>
            <a id="suspendBtn" class="but_suspend openchangepwdmodal" href="#suspend" data-status="suspend">
              <i class="fa fa-lock" style="font-size:25px !important;"></i><br>
              Change Password
            </a>
            </li> -->
         <li>
            <a id="suspendBtn" class="but_suspend openchangepwdmodal" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend opendepositchipmodal" style="display:block" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend searchusericon" routerLink="/Asearchusers" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend websetting" routerLink="/AWebsiteSetting" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend defaultsettings" routerLink="/ADeafultSetting" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend cusers" routerLink="/gameUsersList" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend p2ptransfer" routerLink="/P2PSetting" data-status="suspend"></a>
         </li>
         <!--   <li>
            <a id="suspendBtn" class="but_suspend addweb" routerLink="/AAddWebsiteSetting" data-status="suspend"></a>
            </li> -->
         <!-- <li>
            <a id="suspendBtn" class="but_suspend" routerLink="/Aeditusers" data-status="suspend">
              <i class="fa fa-edit" style="font-size:25px !important;"></i><br>
              Edit Settings
            </a>
            </li> -->
         <li>
            <a id="suspendBtn" class="but_suspend surveillanceicon" routerLink="/Asurveillance" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend limitset" routerLink="/whiteLimit" data-status="suspend"></a>
         </li>
      </ul>
   </div>
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2 style="margin:0 5px">Match And Bets</h2>
      </div>
      <ul id="statusBtn" class="status_but" style="width:auto">
         <li>
            <a id="suspendBtn" class="but_suspend aactivematch" routerLink="/AactiveMatch" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend ainactivematch" routerLink="/AinactiveMatch" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend adeletedbet" routerLink="/AdeletedBets" data-status="suspend"> </a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend aupdatestatus" routerLink="/AupdateFancyStatus" data-status="suspend"></a>
         </li>
         <!-- <li>
            <a id="suspendBtn" class="but_suspend" href="#suspend" data-status="suspend">
              <i class="fa fa-book" style="font-size:25px !important;"></i><br>
                Bet History
            </a>
            </li> -->
         <li>
            <a id="suspendBtn" class="but_suspend asuspendresult" routerLink="/AsuspendedResults" data-status="suspend"></a>
         </li>
         <!-- <li>
            <a id="suspendBtn" class="but_suspend rollbackresult" routerLink="/ArollbackResults" data-status="suspend"></a>
            </li> -->
      </ul>
   </div>
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2 style="margin:0 5px">Message Settings</h2>
      </div>
      <ul id="statusBtn" class="status_but" style="width:auto">
         <li>
            <a id="suspendBtn" class="but_suspend ausermessage" routerLink="/AUserMessage" data-status="suspend"></a>
         </li>
         <!--  <li>
            <a id="suspendBtn" class="but_suspend" routerLink="/ACasinoMessage" data-status="suspend">
              <i class="fa fa-envelope" style="font-size:25px !important;"></i><br>
              Casino Message
            </a>
            </li> -->
         <li>
            <a id="suspendBtn" class="but_suspend ahypermessage" routerLink="/AHyperMessage" data-status="suspend"></a>
         </li>
         <!-- <li>
            <a id="suspendBtn" class="but_suspend" routerLink="/ABigMessage" data-status="suspend">
              <i class="fa fa-envelope" style="font-size:25px !important;"></i><br>
              Big Message
            </a>
            </li> -->
         <li>
            <a id="suspendBtn" class="but_suspend aimpmessage" routerLink="/AImpMessage" data-status="suspend"></a>
         </li>
      </ul>
   </div>
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2 style="margin:0 5px">User Settings</h2>
      </div>
      <ul id="statusBtn" class="status_but" style="width:auto">
         <li>
            <a id="suspendBtn" class="but_suspend ainactiveuser" data-status="suspend"></a>
         </li>
         <li>
            <a id="suspendBtn" class="but_suspend abetlockuser" data-status="suspend"></a>
         </li>
      </ul>
   </div>
   <div class="function-wrap col-lg-12">
      <div class="col-lg-12" style="margin-bottom:5px;">
         <h2 style="margin:0 5px">Match And Bets</h2>
      </div>
      <ul id="statusBtn" class="status_but" style="width:auto">
         <li>
            <a id="suspendBtn" class="but_suspend acheatbet" data-status="suspend"></a> 
         </li>
      </ul>
   </div>
</div>